</main>
<hr />
<footer>
    <nav>
        <a href="https://landchad.net" target="_blank">
            <img src="/niklas/images/link-buttons/landchad.gif" target="_blank" alt="landchad.net">
        </a>
        <a href="https://www.freebsd.org" target="_blank">
            <img src="/niklas/images/link-buttons/freebsd.gif" target="_blank" alt="freebsd.org">
        </a>
        <a href="https://wiby.me" target="_blank">
            <img src="/niklas/images/link-buttons/wiby.gif" target="_blank" alt="wiby.me">
        </a>
    </nav><br>
    <span>
        <!-- &copy Copyright 2023 <a href="https://vonhirschfeld.eu">Niklas von Hirschfeld</a>. All rights reserved. -->
    </span>
</footer>
