    <div class="container">
        <article>
            <p>
                Hello Friend, welcome to my corner of the internt. Here I will mostly
                host my school notes and my own wiki. :) Have fun to explore!
            </p>
            <!-- <blockquote> -->
            <!--     This place is home for all my psychological dysfunctioning.<br> -->
            <!--     A place where I am in control, with no censorship or manupilation.<br> -->
            <!--     A place where my words don't get mixed up with noise.<br> -->
            <!-- </blockquote> -->
        </article>
    </div>
